<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>students</title>

    <!--Code For Linking Css File -->
    <!--    <link rel="stylesheet" href="css/app.css"/>-->
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='css/app.css') }}"/>

    <!--Code For Font Awsome -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
</head>
<body>
<!-- header section -->
<header class="header">
    <a href="#" class="logo"
    ><i class="fa-solid  fa-graduation-cap"></i> student system</a
    >

    <nav class="navbar">
        <a href="/">home</a>
        <a href="/students">students</a>
        <a href="/courses">courses</a>
        <a href="/schedules">schedules</a>

    </nav>

    <div class="icons">
        <div class="fa fa-bars" id="menu-btn"></div>
        <div class="fa fa-search" id="search-btn"></div>
        <!--        <div class="fa fa-shopping-cart" id="cart-btn"></div>-->
        <!--        <div class="fa fa-user" id="login-btn"></div>-->
    </div>

    <form class="search-form">
        <input type="search" id="search-box" placeholder="search here ....."/>
        <label for="search-box" class="fa fa-search"></label>
    </form>
</header>

<!--<div class="filter">-->

<!--</div>-->
<div class="table">
    <table>


        <tr>

            <th>schedule id</th>


            <th>course name</th>

            <th>level</th>
            <th>day</th>
            <th>start time</th>

            <th>duration</th>


        </tr>

        {%for schedule in schedules%}
        <tr>

            <td>{{schedule.course_schedule_id}}</td>
            <td>{{schedule.course_name}}</td>

            <td>{{schedule.level_id}}</td>

            <td>{{schedule.day}}</td>

            <td>{{schedule.start_time}}</td>
            <td>{{schedule.duration}} minutes</td>


        </tr>
        {%endfor%}


        <!--        {%for category in categories%}-->
        <!--        <div class="category-item">-->
        <!--            <img src="{{category.image}}"/>-->
        <!--            <h4>{{category.name}}</h4>-->
        <!--            <br/>-->
        <!--        </div>-->
        <!--        {%endfor%}-->

    </table>
</div>
<script src="{{ url_for('static',
    filename='js/app.js') }}"></script>
</body>
</html>
